#app {
    display: flex;
    flex-flow: column;
    background-color: #212124;
}
body {
    background-color: #161614;
}
.navbar {
    width: 100%;
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    min-height: 98px;
    height: 98px;
    padding: 0 10px;
    border: none;
    border-radius: 0;
    list-style: none;
    background-color: #161618;
    margin-bottom: 0
}
.settings-button-container button {
    margin: 0;
    border: none;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    background-color: transparent;
    filter: brightness(10);
    background-image: url(/static/media/settings-static.0984f36c.svg);
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: 65% 65%
}
div.new-window-icon:focus:hover img.regular,div.new-window-icon:hover img.regular,div.new-window-icon img.hover {
    display: none;
    filter: brightness(10);
}
div.new-window-icon,div.new-window-icon img.regular {
    display: inline-block;
    filter: brightness(10);
}
.text-editor-menu-bar {
    height: fit-content;
    overflow-x: auto;
    scrollbar-width: 0;
    border-left: 2px solid #212124;
    border-right: 2px solid #212124;
    display: flex;
    flex-flow: row;
    align-items: center;
    justify-content: space-between;
    color: #fff;
    background-color: #212124;
}
.ace_content {
    position: absolute;
    box-sizing: border-box;
    min-width: 100%;
    contain: style size layout;
    font-variant-ligatures: no-common-ligatures;
    background-color: #212124;
}

.ace_gutter-layer {
    position: relative;
    width: auto;
    text-align: right;
    pointer-events: auto;
    height: 1000000px;
    contain: style size layout;
    background-color: #212124;
}
.ace-editor-container .ace-xcode .ace_gutter {
    background-color: #212124;
    color: #fff;
    border-right: 2px solid #323232
}
.ace-xcode .ace_gutter {
  background: #e8e8e8;
  color: #ffffff;
}
.ace-xcode .ace_marker-layer .ace_selection {
  background: #2a78df75;
}

.ace-editor-container #text-editor {
    border: 2px solid #212124
}
.exercise-editor-container-left {
    flex: 1 1;
    display: flex;
    position: relative!important;
    min-width: 400px;
    flex-flow: column;
    background-color: #161618;
}
.ace-editor-container {
    flex: 1 1;
    display: flex;
    border-left: 2px solid #212124;
    border-right: 2px solid #212124;
}
.toolbar.left {
    display: flex;
    align-items: center;
    max-height: 50px;
    background-color: #212124;
    border: 2px solid #212124;
		border-radius: 23px 23px 0 0;
    padding-right: 16px
}
#file-operations-dropdown {
    margin: 1.1em .8em;
    padding: 0;
    background-color: transparent;
    filter: brightness(9);
    width: .9em;
    height: .9em;
    border-radius: 0;
    border: none;
    background-repeat: no-repeat;
    background-image: url(/static/media/file-ops.9bc8d9d1.svg)
}
.toolbar-title {
    padding-left: 10px;
    font-size: 1.1em;
    color: #ffffff;
    font-weight: 600;
    overflow: hidden;
    text-overflow: ellipsis
}
.navbar li.navitem {
    color: #ffffff;
    font-size: 1em
}

.navbar li.navitem>a {
    color: #ffffff;
    padding: 6px 16px;
    position: relative;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle
}
.ui-btn.success {
    color: #ffffff;
    background-color: #47474c;
    border-radius: 56px;
}
.ui-btn {
    border: none;
    background-color: #7b7b7b;
    color: #949494;
    border-radius: 34px;
    padding: 4px 12px;
    font-weight: 600;
    font-size: 1rem;
    user-select: none;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    grid-gap: 4px;
    gap: 4px;
    white-space: nowrap;
    min-height: 32px
}
.ui-btn.success:hover {
    background-color: #39393f;
}

.ui-btn.success:active {
    background-color: #47474c
}
.text-editor-menu-bar>.push-right button {
    border: 1px solid #202023;
    border-radius: 4px;
    padding: 0 6px;
    min-height: 20px
}
.ace_text-layer > .ace_line, .ace_text-layer > .ace_line_group {
    contain: style size layout;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    color: white;
}
.ace-xcode .ace_marker-layer .ace_selected-word {
  border: 1px solid #B5D5FF
}

.ace-xcode .ace_constant.ace_language,
.ace-xcode .ace_keyword,
.ace-xcode .ace_meta,
.ace-xcode .ace_variable.ace_language {
  color: #d44eff
}

.ace-xcode .ace_invisible {
  color: #BFBFBF
}

.ace-xcode .ace_constant.ace_character,
.ace-xcode .ace_constant.ace_other {
  color: #275A5E
}

.ace-xcode .ace_constant.ace_numeric {
  color: #698aff;
}

.ace-xcode .ace_entity.ace_other.ace_attribute-name,
.ace-xcode .ace_support.ace_constant,
.ace-xcode .ace_support.ace_function {
  color: #c2a9ff
}

.ace-xcode .ace_fold {
  background-color: #C800A4;
  border-color: #000000
}

.ace-xcode .ace_entity.ace_name.ace_tag,
.ace-xcode .ace_support.ace_class,
.ace-xcode .ace_support.ace_type {
  color: #790EAD
}

.ace-xcode .ace_storage {
  color: #d44eff
}

.ace-xcode .ace_string {
  color: #ff7879
}

.ace-xcode .ace_comment {
  color: #c0ffc0
}
.ace-xcode .ace_print-margin {
  width: 1px;
  background: #212124
}

.ace-xcode {
  background-color: #212124;
  color: #000000
}

.ace-xcode .ace_cursor {
  color: #ffffff
}
.ace-editor-container .triple-comment {
    background-color: #18bf7f3b;
    position: absolute
}
.ace-editor-container .five-comment {
    background-color: #856925;
  	position: absolute
}
.toolbar.right {
    display: flex;
    flex-flow: row;
    align-items: center;
    justify-content: center;
    background-color: #212124;
    border-radius: 18px 18px 0 0;
    margin: 0;
    position: relative;
    height: 36px;
    border-left: 2px solid #f1f1f100;
    border-right: 2px solid #f1f1f100;
    transition: background-color .3s
}
.canvas {
    display: flex;
    position: relative;
    top: 0;
    right: 0;
    z-index: 0;
    border: 2px solid #f1f1f100;
    border-top: none;
    border-bottom: none;
    background: #212124;
    cursor: pointer
}
.canvas-element {
    outline: none;
    background-color: #fff;
    outline: 1px solid #161616;
    margin-top: max(.9em,28px);
    margin-left: min(3.1em,40px)
}

.Pane1 {
    max-height: 100%;
    background-color: #161618;
}
.top-right-pane {
    margin: 5px 0;
    position: absolute;
    width: 100%;
    border-top: 2px solid #161618;
}
.grid-toggle-img {
    display: block;
    margin: auto;
    filter: brightness(10);
}
.below-canvas {
    display: flex;
    justify-content: space-between;
    font-size: .8em;
    padding: 1.2em calc(100% - 440px) 1.2em 36px;
    border: 2px solid #212124;
    border-top: none;
    background-color: #212124;
    user-select: none;
    transition: border-color .3s
}
.canvas-menu button {
    font-size: .8em;
    background-color: transparent;
    filter: brightness(10);
    white-space: nowrap;
    margin: 0 4px;
    padding: 0 2px;
    border: none
}
.below-canvas .mouse-pos {
    min-width: 8em;
    text-align: right;
    color: #d1d1d1;
}
.console-output {
    margin-bottom: 0;
    color: #ffffff;
    background-color: #161618;
    border-radius: 0;
    border: 2px solid #161618;
    border-right: none;
    white-space: pre-wrap;
    font-family: Inconsolata,Menlo,Consolas,monospace;
    height: 100%;
    text-align: left;
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    padding: 1em 1.4em .6em;
    position: relative
}
.form-control {
    background-color: #212124;
}
.console-input {
    flex: auto;
    font-family: monospace;
    color: #bebebe;
    background-color: #212124;
    border-radius: 0;
    border: 2px solid #212124 !important;
    border-top: none!important;
  	border-radius: 8px 0 0 8px;
    box-shadow: none;
    font-family: Inconsolata,Menlo,Consolas,monospace;
    padding: 5px 0 5px 1.7em
}

.console-input-prompt {
    flex: auto;
    font-family: monospace;
    align-items: center;
    background-color: #212124;
    padding: 5px .9em;
    border-radius: 0 8px 8px 0;
    border: none;
    font-family: Inconsolata,Menlo,Consolas,monospace
}
.Resizer.horizontal {
    height: 6px;
    background-position-x: center;
    margin: -4px 0;
    background-image: url(/static/media/resizer.4ba3c5de.svg);
    filter: brightness(0);
    cursor: row-resize
}
.Pane2 {
    overflow: hidden;
    background-color: #161618;
}
#avatar-dropdown {
    display: inline-flex;
    align-items: center;
    border: none;
    padding: 1px 12px;
    background-color: #161618 !important;
    box-shadow: none
}
.navbar .render-caret {
    height: .6em;
    width: 1em;
    margin-left: 3px;
    background-image: url(/static/media/caret.e665ba75.svg);
    background-position: 50% 50%;
    filter: brightness(10);
    background-repeat: no-repeat;
    display: inline-block;
    vertical-align: super
}
.navbar .course-dropdown {
    color: #ffffff;
    user-select: none;
    position: relative;
    flex-basis: 0;
    cursor: pointer
}
.syllabus-scroll {
    outline: none;
    flex: 1 1;
    overflow-y: auto;
    background-color: #161618;
  	scrollbar-color:#9f9f9f #212124
}
.quiz-banner {
    background: #d9a523;
    padding: 5px 10px;
    text-align: center
}
.syllabus-scroll .unit-trigger[aria-expanded=true] {
    background-color: #212124;
    color: #fff;
    border: 2px solid #212124;
}
.syllabus-scroll .unit-panel {
    border: 2px solid #212124;
    border-top: 0
}
.syllabus-scroll .unit-panel {
    border: 2px solid #212124;
    background-color: #212124;
    border-top: 0
}
.user-info {
    width: 280px;
    padding: 6px 10px;
    max-height: 100%;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    font-size: 1.15em;
    background: #212124;
    border-right: 1px solid #161618;
  	scrollbar-color: #9f9f9f #212124
}
.react-autosuggest__input {
    height: 40px;
    width: 100%;
    padding: 5px 5px 5px 35px;
    color: #ffffff;
    background-color: #323232;
    box-sizing: border-box;
    border: 1px solid #323232;
    border-radius: 40px
}
.user-info>div {
    background: #ffffff00;
    margin: 4px;
    padding: 10px 10px 10px 20px
}
body a,html a {
    color: #ffffff
}

body a:focus,body a:hover,html a:focus,html a:hover {
    color: #dddddd;
}
.user-info .syllabus-sidebar .number {
    justify-self: end;
    color: #dcdcdc;
}

.user-info .syllabus-sidebar .name {
    color: #dcdcdc;
}
.user-info .syllabus-sidebar h4 {
    text-align: left;
    font-weight: 600;
    font-size: 1em;
    color: #f5f5f5;
}
.sidebar-hr {
    width: 75%;
    margin-top: 10px;
    margin-bottom: 10px;
    border-top: 2px solid #59464600;
}
.sidebar {
    border: 3px solid #666;
    background-color: #333;
    border-radius: 4px;
    margin: 20px;
    padding: 20px;
}
.depth-1 {
    border-top: 1px solid #212124;
    padding-left: 40px
}
.topic-trigger {
    flex: 1 1;
    display: flex;
    align-items: center;
    margin: 0;
    border: 0;
    height: 45px;
    padding: 0 20px 0 0;
    font-size: 1em;
    font-weight: 600;
    color: #ffffff;
    background-color: #212124;
    text-align: left
}
.topic-trigger .indicator:before {
    content: "";
    position: absolute;
    top: calc(50% - 3px);
    left: calc(50% - 6px);
    display: inline-block;
    border-color: #363636 transparent transparent;
    filter: brightness(10);
    border-style: solid;
    border-width: 6px 6px 0;
}
.syllabus-scroll .unit-container {
    margin: 30px 0;
    background-color: #212124;
  	border-radius: 34px
}
div.exercise-link.unlocked:focus,div.exercise-link.unlocked:hover {
    color: #ffffff;
    text-decoration: none;
    outline: none;
    background-color: #eff1f6
}

.notes-container div.notes-link {
    display: flex;
    flex-flow: row;
    align-items: center;
    padding-top: 8px;
    padding-bottom: 8px;
    font-size: 1em;
    font-weight: 600;
    color: #ffffff;
    padding-right: 20px
}
.notes-container div.notes-link .notes-icon {
    display: inline-block;
    margin-right: 10px;
    flex-shrink: 0;
    width: 30px;
    height: 30px;
    background-image: url(/static/media/notes.b384c89c.svg);
    filter: brightness(10);
    background-repeat: no-repeat;
    background-position: 50% 50%
}
.collection-summary-container.creative .collection-summary-icon {
    background-image: url(/static/media/creative-task.b95f4c43.svg);
    filter: brightness(10);
}

.collection-summary-container.creative .collection-summary-link {
    color: #ffffff
}
.syllabus-scroll .unit-panel {
    border: 2px solid #21212400;
    background-color: #21212400;
    border-top: 0;
}
.collection-summary-link {
    display: flex;
    flex-flow: row;
    align-items: center;
    padding-right: 20px;
    height: 45px;
    font-size: 1em;
    font-weight: 600;
    color: #ffffff
}

.collection-summary-link .collection-summary-icon {
    display: inline-block;
    margin-right: 10px;
    width: 30px;
    height: 30px;
    background-image: url(/static/media/exercisesIcon.91b16527.svg);
    filter: brightness(10);
    background-repeat: no-repeat;
    background-position: 50% 50%
}
.exercise-collection-container {
    display: flex;
    flex-flow: column;
    background-color: #333;
    border-radius: 20px;
    margin: 0 40px 8px;
    padding-bottom: 4px
}
.collection-summary-points {
    color: #ffffff;
    display: flex;
    flex-flow: row;
    height: 60%;
    font-weight: 600;
    margin-right: 60px
}
.page-footer {
    border-top: 1px solid #161618;
    width: 100%;
    height: 50%;
    background-color: #161618;
    display: flex;
    padding-top: 30px;
    position: relative;
    padding-bottom: 100px
}
.page-footer .footer-header {
    margin: 2px;
    padding: 8px 6px;
    color: #ffffff;
}
.notes-container div.notes-link:focus,.notes-container div.notes-link:hover {
    color: #ffffff;
    text-decoration: none;
    outline: none;
    background-color: #333333;
}
.navbar li.navitem>a:not(.no-active-dash):active {
    outline: 2px dashed #ababab
}

.navbar li.navitem>a:not(.no-active-dash):active,.navbar li.navitem>a:not(.no-active-dash):focus:active,.navbar li.navitem>a:not(.no-active-dash):hover:active {
    color: #ababab;
    outline: 2px dashed #ababab
}

.navbar li.navitem>a:focus:hover,.navbar li.navitem>a:hover {
    text-decoration: none;
    color: #ababab
}
.page-footer a.main-link {
    display: inline-block;
    color: #ffffff;
    margin: 2px;
    padding: 6px;
    width: 100%;
    text-align: start;
    white-space: normal
}
.page-footer .footer-col.switchable .social-media-links {
    line-height: 0;
    filter: brightness(10);
    width: fit-content;
    height: fit-content;
    padding: 3px;
    margin: 7px
}
.exercise-icon-locked {
    position: absolute;
    width: 34px;
    height: 34px;
    opacity: .75;
    border-radius: 4px;
    background-color: #363636;
}
.level-container .level-points-label {
    display: flex;
    flex-flow: row;
    align-items: center;
    justify-content: center;
    color: white;
    height: 20px;
    font-size: .7em;
    text-transform: uppercase;
    position: absolute;
    right: 50px
}
.syllabus-scroll .unit-trigger {
    margin: 0;
    display: flex;
    width: 100%;
    border: 2px solid #363636;
    padding: 10px 20px 10px 40px;
    position: relative;
    top: 0;
    right: 0;
    font-size: 1.3em;
    font-weight: 600;
    color: #ffffff;
    background: #363636;
}
.toolbar.right.solution {
    background-color: #212124;
}
.ui-btn.primary {
    color: #fff;
    background-color: #363636;
  	border-radius: 34px
}

.ui-btn.primary:hover {
    background-color: #323232;
}

.ui-btn.primary:active {
    background-color: #212124
}

.ui-btn.primary.disabled, .ui-btn.primary:disabled {
    color: #999;
    background-color: #666;
}

.ui-btn.secondary {
    color: #ffffff;
    background-color: #323232;
    border-radius: 34px
}

.ui-btn.secondary:hover {
    background-color: #323232
}

.ui-btn.secondary:active {
    background-color: #323232
}
.toggle {
    margin: 0;
    padding: 0;
    border: none;
    border-radius: 15px;
    box-sizing: border-box;
    height: auto;
    min-height: 32px;
    line-height: 30px;
    background-color: #363636;
    position: relative;
    z-index: 0;
    display: flex
}
.toggle .toggle-active.inactive {
    color: #949494;
    border-radius: 15px;
    z-index: 0
}
.toggle .toggle-handle.inactive {
    left: 50%;
    background-color: rgb(71 100 186);
}
.toggle.active {
    background-color: #363636;
}
.toggle .toggle-handle {
    position: absolute;
    left: 0;
    width: 50%;
    height: 100%;
    border-radius: 15px;
    background-color: rgb(71 100 186);
    transition: left .3s ease-in-out, background-color .3s ease-in-out;
    z-index: 1;
    cursor: pointer
}
.toggle .toggle-inactive.active {
    color: #949494;
}
.settings-modal-dialog .modal-header .modal-title {
    color: #ffffff;
    font-weight: 600;
    font-size: 1.5em
}
.settings-modal-dialog .modal-header {
    border-bottom: 2px solid #eaeaea00;
}
.settings-modal-dialog .modal-content {
    min-height: 100%;
    border-radius: 0;
    display: flex;
    flex-direction: column;
    background-color: #212124;
}
.simple-link {
    color: #d3d3d3;
    text-decoration: underline
}
.simple-link:active,.simple-link:focus,.simple-link:hover {
    color: #7b7b7b;
}
.settings-modal-dialog .modal-body a.fullscreen img {
    margin-left: 1.1em;
    filter: brightness(10);
}
.settings-modal-dialog .modal-body h3 {
    font-size: 1.1em;
    font-weight: 600;
    color: #ffffff;
}
.settings-modal-dialog h3:after {
    content: "";
    position: absolute;
    width: 9px;
    height: 9px;
    background-size: contain;
    transform: rotate(-90deg);
    background-repeat: no-repeat;
    background-image: url(/static/media/caret2.f9dca1b3.svg);
    filter: brightness(10);
    right: -1.5em;
    top: .3em;
    transition: .2s
}
.settings-modal-dialog .text-settings-header h3 {
    filter: brightness(10);
    margin-bottom: 0
}
.settings-modal-dialog h4 {
    font-size: 1em;
    color: #ffffff;
    font-weight: 600
}
.settings-modal-dialog {
    font-size: 1em;
    height: 100vh!important;
    max-width: 100vw;
    width: calc(300px + 9.375rem);
    margin: 0;
    position: absolute;
    right: 0;
    color:white
}
.settings-modal-dialog .profile-picture-share {
    margin: 0 .5em;
    filter: brightness(10);
}
.settings-modal-dialog .sample-text {
    overflow: hidden;
    padding: .9em;
    color: #887fef;
    border: 2px solid #ffffff00;
    margin-top: 1.5em
}

.simple-link.purple-gray {
    color: #c7c7c7
}

.simple-link.purple-gray:active,.simple-link.purple-gray:focus,.simple-link.purple-gray:hover {
    color: #898989
}
.dropdown-menu {
    position: absolute;
    top: 100%;
    z-index: 1000;
    display: none;
    float: left;
    min-width: 160px;
    padding: 5px 0;
    text-align: left;
    list-style: none;
    background-color: #212124;
    background-clip: padding-box;
    border: 1px solid rgba(0,0,0,.15);
    box-shadow: 0 6px 12px rgba(0,0,0,.175)
}
.dropdown-menu>.disabled>a,.dropdown-menu>.disabled>a:focus,.dropdown-menu>.disabled>a:hover {
    color: #a3a3a3
}
.dropdown-menu>li>a {
    display: block;
    padding: 3px 20px;
    clear: both;
    font-weight: 400;
    line-height: 1.42857143;
    color: #e6e6e6;
    white-space: nowrap
}
.dropdown-menu>li>a:focus,.dropdown-menu>li>a:hover {
    color: #7b7b7b;
    text-decoration: none;
    background-color: #252527;
}
.dropdown-menu .divider {
    height: 1px;
    margin: 9px 0;
    overflow: hidden;
    background-color: #32323200
}
navbar .course-dropdown .course-picker-selected>a,.navbar .course-dropdown .course-picker-selected>a:focus,.navbar .course-dropdown .course-picker-selected>a:hover {
    background: #333333;
    color: #ffffff;
}
.navbar .course-dropdown .course-picker-selected>a,.navbar .course-dropdown .course-picker-selected>a:focus,.navbar .course-dropdown .course-picker-selected>a:hover {
    background: #333333;
    color: #ffffff
}
#feedback-checklist-console-tabs .nav-tabs {
    display: table;
    font-weight: 600;
    background-color: #161616;
    color: #161616;
    border: 2px solid #161616;
    border-top: none;
    border-bottom: none;
    font-size: 1.1em;
    height: 38px;
    padding: 0 4px;
    box-sizing: initial;
    z-index: 1
}
#feedback-checklist-console-tabs .nav-tabs li a:hover {
    background-color: #333
}

#feedback-checklist-console-tabs .nav-tabs li.active a {
    background-color: #212124;
    color: #ffffff;
    padding: 4px 10px 8px;
    margin-top: 4px
}
.test-case-panel .col-sm-6 {
    min-height: 100%;
    padding: 0;
    background-color: #212124
}

.test-case-panel .col-sm-6.checklist-left {
    border-right: 2px solid #f1f1f100;
    background-color: #212124;
    scrollbar-color: #9f9f9f #212124;
}
.checklist-items .col-sm-6 .tab-content {
    height: 100%;
    overflow-y: auto;
    scrollbar-color: #9f9f9f #212124;
}
.checklist-items li.title a .edit-buttons .button:hover .message {
    color: #ffffff;
    display: inline;
    border-radius: 3px
}

.checklist-items li.title.active a {
    color: #ffffff;
    font-weight: 600;
    background-color: transparent
}
.test-case-panel {
    max-height: 100%;
    width: 100%;
    align-self: stretch;
    display: flex;
    flex-direction: column;
    background-color: #333;
    border: 2px solid #212124;
}
.checklist-items li.title {
    border-bottom: 2px solid #323232;
}
.checklist-items li.title:after {
    transform: rotate(0deg);
    transition-duration: .3s;
    content: "";
    height: .5em;
    width: 1em;
    background-image: url(/static/media/caret2.f9dca1b3.svg);
    filter: brightness(10);
    background-position: 50% 50%;
    background-repeat: no-repeat;
    position: absolute;
    right: 1em;
    top: 50%
}
.basic-test-case .trigger {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    border: 1px solid #323232;
    margin: 0;
    padding: .9em 1.1em;
    background-color: #323232;
    font-size: .9em;
   border-radius: 20px;
    position: relative
}
.basic-test-case.active .trigger {
    border: 1px solid #363636 !important;
    background-color: #363636;
}
button,input,optgroup,select,textarea {
    margin: 0;
    font: inherit;
    color: #ffffff;
}
.basic-test-case .trigger pre {
    width: 100%;
    background-color: transparent;
    border: none;
    background-color: #363636;
    border-radius: 10px;
    padding: 0;
    margin: 0
}
.hljs {
    text-align: left;
    display: block;
    overflow-x: auto;
    color: #ffffff;
    background: #212124;
}
.hljs-dartdoc,.hljs-phpdoc,.hljs-string,.hljs-tag .hljs-value,.tex .hljs-formula {
    color: #ff785e;
}

.basic-test-case .trigger .add-remove-icon {
    position: relative;
    filter: brightness(10);
}
.bot-left-pane {
    position: absolute;
    z-index: 0;
    width: calc(100% - 8px);
    height: calc(100% - 5px);
    background-color: #212124;
    margin: 0 3px 5px 5px
}
.color-info {
    margin-top: .9em;
    display: flex;
    flex-flow: row;
    justify-content: flex-start;
    align-items: center;
    height: 4em;
    border: 2px solid #323232;
    background-color: #323232;
    border-radius: 30px;
    font-size: 1.1em
}
.docs-content.cpcs .docs-smallHeader {
    background-color: #202023;
    margin: 2.5em 0 1em;
    padding: .9em
}
.color-info-name,.color-info-rgb,.gradient-name {
    padding: 10px 10px 10px 3.4em;
    font-family: Inconsolata,Menlo,Consolas,monospace;
    color: #cdcaca;
}
.docs-content .docs-article.scrollspy {
    display: flex;
    flex-flow: row;
    flex: auto;
    align-items: baseline;
    background: #161618;
}
.docs-content .docs-article p {
    margin: 0;
    color: #ffffff;
}
.inline-editor-container {
    border: 1px solid #0e0d0d00;
    margin-bottom: 10px;
    border-radius: 34px;
}
.docs-sidebar {
    flex: .1 0 220px;
    display: flex;
    flex-flow: column;
    overflow-y: auto;
    border-right: 1px solid #16161800;
    background-color: #212124;
    position: relative
}
.docs-link.active {
    font-weight: 600;
    color: #a59fec;
    position: relative
}

.docs-link.active:after {
    content: "";
    height: .15em;
    width: 2.6em;
    background-color: #a59fecd9;
    position: absolute;
    bottom: -.3em;
    left: 0
}
.docs-container .cs3-mode-switch {
    background: #212124;
}
.cs3-mode-switch {
    border: 2px solid #323232;
    padding: 0 10px 0 0;
    margin-right: 15px;
    border-radius: 30px;
}
body,html {
    font-family: Open Sans,Lucida Grande,"Microsoft Sans Serif",sans-serif;
    font-style: normal;
    font-weight: 400;
    height: 100%;
    color: #ffffff;
    overscroll-behavior-x: none
}
.indicator:before {
    content: "";
    position: absolute;
    top: calc(50% - 2.5px);
    display: inline-block;
    border-color: #363636 transparent transparent;
    filter: brightness(10);
    border-style: solid;
    border-width: 5px 5px 0;
    transition: transform .1s ease-in-out
}
.docs-link {
    color: #ffffff;
}
.docs-sidebar .break:before {
    content: "";
    position: absolute;
    top: -1em;
    height: .15em;
    width: 7.6em;
    background-color: #333;
}
.docs-content {
    background-color: #161618;
    padding: 0;
    flex: 1.5 1;
    overflow-y: scroll;
    outline: none
}
  .docs-content .docs-lesson-links-container {
    display: block;
    background-color: #212124;
    margin: -1em 0 2em;
    padding: .5em;
    text-align: right;
    border-radius: 34px;
}
.docs-content .docs-lesson-links-container a {
    color: #675be6;
}
.docs-navbar ul.scrollspy-nav>li>a:hover {
    color: #a59fec;
    text-decoration: none;
    outline: none
}

.docs-navbar ul.scrollspy-nav>li.active>a,.docs-navbar ul.scrollspy-nav>li.active a:focus,.docs-navbar ul.scrollspy-nav>li.active a:hover {
    margin-left: 0;
    font-weight: 600;
    color: #a59fec;
    background-color: #161618;
    border-left: 2px solid #a59fec;
    outline: none
}
.docs-navbar ul.scrollspy-nav>li>a {
    padding: .5em 24px;
    text-decoration: none;
    border-left: 2px solid #161618;
    font-size: 1em;
    display: block;
    color: #ffffff;
    background-color: #161618;
}
.docs-content.cpcs code {
    background: #323232;
    border-radius: 2px;
    color: white;
}

.docs-content pre {
    background-color: #212124;
    border: 2px solid #f1f1f100;
    border-radius: 30px;
    padding: 0
}
.docs-content .definitions-header h3,.docs-content .definitions-header h4,.docs-content .definitions-header p,.docs-content .docs-header h3,.docs-content .docs-header h4,.docs-content .docs-header p,.docs-content .docs-smallHeader h3,.docs-content .docs-smallHeader h4,.docs-content .docs-smallHeader p {
    margin: 0;
    line-height: 150%;
    color: #cdcaca;
}
.docs-content h2 {
    font-size: 2em;
    color: #a59fec;
}
.docs-content .docs-smallHeader {
    background-color: #202023;
    border-radius: 30px;
    margin: 4.3em 0 0;
    padding: .9em
}

.docs-content code {
    color: #ffffff;
    background-color: #202023;
}
.docs-content .table-value {
    background-color: #212124;
    text-align: center;
    width: 25%;
}
.docs-content td {
    padding: 1.1em 2em;
    border: 1px solid #212124;
}
.docs-search-box .react-autosuggest__input,.mobile-search-box .react-autosuggest__input {
    border: 1px solid #323232;
    background-color: #323232;
    color: #ffffff
}
.info-page-container {
    margin: 0;
    width: 100%;
    background-color: #212124;
    color: #616ea8
}
.info-page-container .info-page-content-container h2 {
    text-align: center;
    color: #ffffff;
    font-size: 2.6em;
    margin-bottom: .9em
}

.info-page-container .info-page-content-container h3 {
    color: #ffffff;
    margin-top: 2.7em
}

.info-page-container .info-page-content-container h4 {
    font-size: 1.5em;
    color: #ffffff
}

.info-page-container .info-page-content-container h6 {
    font-size: 1.2em;
    color: #ffffff
}
.info-page-container .info-page-content-container .role-text {
    color: #ffffff;
    margin: .3em 0 .9em
}
.carousel-inner>.item>a>img,.carousel-inner>.item>img,.img-responsive,.thumbnail>img,.thumbnail a>img {
    display: block;
    max-width: 100%;
    height: auto;
    filter: brightness(10);
}
.course-info-container .course-info-content-container p,.course-info-container .course-info-content-container ul {
    color: #c7c6c6;
}
.course-info-container .course-info-content-container .course-info-link a.purple {
    color: #0078d4;
    margin-right: 1em
}
.course-info-container .course-info-content-container .curricula-box {
    border: 2px solid rgb(95, 99, 104);
    border-radius: 30px;
    margin: 4.3em 0;
    display: flex;
    flex-flow: column
}
.course-info-container .course-info-content-container h5 {
    color: #0078d4;
    font-weight: 600;
    font-size: 1.1em
}
.course-info-container .course-info-content-container .curricula-box .description .description-row.right .slogan.cs1 {
    background-color: #0078d4;
    color: #fff
}
.course-info-container .course-info-content-container .curricula-box .curricula-dropdown {
    margin: 0 3.4em 2.6em;
    background-color: transparent;
    border: 2px solid rgb(95, 99, 104);
    border-radius: 30px;
    color: #ffffff;
}
.course-info-container .course-info-content-container .curricula-box .description .description-row.right .slogan.cs0,.course-info-container .course-info-content-container .curricula-box .description .description-row.right .slogan.hoc {
    background-color: #0070c6;
    color: #ffffff;
}
.course-info-container .course-info-content-container .curricula-box .description .description-row.right .slogan.cpcs,.course-info-container .course-info-content-container .curricula-box .description .description-row.right .slogan.cs2 {
    background-color: #0078d4;
    color: #fff
}
.course-info-container .course-info-content-container .curricula-box .description .description-row.right .slogan.csp {
    background-color: #0070c6;
    color: #fff
}
.page-footer a.main-link:hover {
    color: #7b7b7b;
    text-decoration: none
}

.page-footer a.main-link:active {
    color: #7b7b7b
}
.exercise-editor {
    flex: 1 1;
    display: flex;
    min-height: 0;
    overflow: auto;
    background-color: #161618;
    height: 100%
}
.checklist-item {
    display: flex;
    padding: 1.7em 1.4em;
    border-bottom: 2px solid #212124;
}
.toolbar-button.restart {
    padding: 10px;
    background-image: url(/static/media/restart.50536a45.svg);
    filter: brightness(10);
}
body a:focus,body a:hover,html a:focus,html a:hover {
    color: #ffffff
}
.checklist-items li.title a {
    color: #949494;
    padding: 1.7em 2em 1.7em 1.4em
}
.nav>li>a:focus,.nav>li>a:hover {
    text-decoration: none;
    background-color: #323232;
}
.feedback-viewer-container {
    display: flex;
    flex-flow: column;
    min-width: 400px;
    max-width: 750px;
    height: auto;
    margin-right: 20px;
    background-color: #161618;
    border-radius: 34px;
    box-shadow: 4px 4px 20px -5px rgba(25,25,25,.75);
    transition: transform .5s ease-out,opacity .5s ease-in-out
}
.basic-test-case.active.errors.modified .trigger,.basic-test-case.active.errors .trigger {
    border: 1px solid #f9997d!important;
    background-color: #7c574c;
}
.passed-feedback .navigation-button:hover {
    background-color: #161618;
    color: #fff;
}

.passed-feedback .navigation-button {
    margin: 5px;
    background-color: #212124;
    border: 2px solid #212124;
    padding: 14px 6px;
    border-radius: 5px;
    white-space: nowrap;
}
.notes-page-container {
    background-color: #161618;
    flex: 1 1;
    overflow-y: scroll;
    scrollbar-color:#9f9f9f #212124;
}

.notes-page-inner {
    max-width: 768px;
    margin: 0 auto;
    padding: 0 30px 60px;
    background-color: #161618;
}
.notes-page-container h1 {
    font-weight: 600;
    color: #59b7ff;
    font-size: 2.2em;
    padding-bottom: .8em;
    border-bottom: 4px solid #363636;
}
.notes-page-container h2 {
    color: #d0d0d0;
    font-weight: 600;
    font-size: 1.5em
}
.notes-exercise-container {
    text-align: center;
    margin: 0 30%;
    padding: 4px 20px;
    border-radius: 4px;
    background-color: #212124;
}
.alert {
    padding: 15px 30px;
    border-radius: 4px;
    color: #ddd;
    background-color: #212124;
    box-shadow: 0 4px 8px rgba(54, 54, 54, .25);
}
.notes-page-with-nav ul.scrollspy-nav {
    padding: 2.1em 0 0;
    list-style: none;
    height: 100%;
    width: 250px;
    background-color: #161616;
    overflow-y: hidden;
    border-right: 1px solid #212124;
}
.notes-page-with-nav ul.scrollspy-nav>li>a:hover {
    color: #59b7ff;
    text-decoration: none;
    outline: none;
}
.notes-page-with-nav ul.scrollspy-nav>li.active>a,.notes-page-with-nav ul.scrollspy-nav>li.active a:focus,.notes-page-with-nav ul.scrollspy-nav>li.active a:hover {
    margin-left: 0;
    font-weight: 600;
    color: #59b7ff;
    border-left: 2px solid #59b7ff;
    outline: none
}
.notes-page-with-nav ul.scrollspy-nav>li>a {
    padding: 7px 0 7px 18px;
    text-decoration: none;
    border-left: 3px solid #363636;
    font-size: 1em;
    box-decoration-break: clone;
    display: inline-block;
    color: #ffffff;
    background-color: transparent
}
.quiz-page-inner {
    max-width: 768px;
    margin: 0 auto;
    padding: 30px;
    background-color: #212124;
}
pre {
    display: block;
    padding: 9.5px;
    margin: 0 0 10px;
    line-height: 1.42857143;
    color: #ffffff;
    word-break: break-all;
    word-wrap: break-word;
    background-color: #161616;
    border: 1px solid #161616;
    border-radius: 30px;
}
.dynamic-html code {
    color: #ffffff;
    background: #eaeaea;
    border-radius: 2px
}
.css .rule .hljs-keyword,.hljs-hexcolor,.hljs-keyword,.hljs-number,.ruby .hljs-constant {
    color: #b1aaff;
}
.dynamic-html code {
    color: #ffffff;
    background: #363636;
    border-radius: 2px
}
.quiz-mc-answer.right-answer {
    background: #2dae3d;
}
.hljs-id,.hljs-title,.scss .hljs-preprocessor {
    color: #e24848;
    font-weight: 600
}
.student-feedback-container {
    flex: 1 1;
    height: 100%;
    display: flex;
    flex-flow: column;
    overflow: auto;
    background-color: #212124;
    border: 2px solid #212124;
    border-top: none
}

.student-feedback-container .student-feedback-inner {
    display: flex;
    flex-flow: column;
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
    flex-grow: 1;
    background-color: #212124;
}
.student-feedback-container .student-feedback-text {
    width: 100%;
    flex-grow: 1;
    border: 2px solid #212124;
    border-radius: 10px;
    outline: none;
    resize: none;
    padding: 5px;
    margin-bottom: 10px;
    box-shadow: none
}
.student-feedback-container .student-feedback-text-title {
    font-size: .9em;
    color: #ddd;
    margin-bottom: 5px;
    text-transform: uppercase
}
#feedback-checklist-console-tabs .nav-tabs li a {
    background-color: #000;
    color: #fff;
    border: none;
    padding: 4px 10px 8px;
    margin-top: 4px
}
.quiz-page-inner .highlight {
    background: #ffd9dc;
    border-radius: 30px;
    text-align: center;
    margin: 15px 100px;
    padding: 5px
}
.notes-checkpoint {
    background-color: #161618;
    position: relative;
    margin: 2.3em 0;
    padding: 1.7em 1.7em 1.1em;
    border: 2px dotted #161618;
    border-radius: 34px;
}
.notes-checkpoint h3 {
    position: relative;
    color: #ffffff;
    font-weight: 600;
    margin: 0 0 20px;
    text-align: center;
    font-size: 1.5em
}
.settings-modal-dialog .text-row img.icon {
    margin-right: 8px;
    filter: brightness(10);
}
.settings-modal-dialog .heading-content.text-settings input {
    width: 49px;
    border-radius: 10px;
    background-color: #323232;
    text-align: center;
    margin-right: 18px;
}
button, input, optgroup, select, textarea {
    margin: 0;
    font: inherit;
    color: #ffffff;
}
.settings-modal-dialog .heading-content.text-settings button.flat-dropdown-toggle {
    color: #ffffff;
    background-color: #323232;
    border-radius: 30px;
    width: 125px;
    display: inline-table;
    align-items: center;
    justify-content: space-between
}
.settings-modal-dialog .heading-content.text-settings button {
    padding: 0;
    margin: 4px;
    border: none;
    filter: grayscale(1);
}
.settings-modal-dialog .toggle .toggle-handle,.settings-modal-dialog .toggle .toggle-handle.inactive {
    background-color: rgb(32, 33, 36);
}

.settings-modal-dialog .toggle.active {
    background-color: #323232;
}
.settings-modal-dialog .toggle {
    background-color: #323232;
    margin: auto
}
.ui-btn.ghost {
    color: #ffffff;
    background-color: transparent
}
.bot-right-pane {
    position: relative;
    right: 0;
    width: 100%;
    background-color: #161618;
    height: calc(100% - 5px);
    margin-top: 0
}
.toolbar-button.unpause {
    background-image: url(/static/media/unpause.172747a9.svg);
    filter: brightness(10);
}

.toolbar-button.pause {
    background-image: url(/static/media/pause.dc95ce5b.svg);
    filter:brightness(10)
}
.modal-header {
    padding: 15px;
    border-bottom: 1px solid #212124;
    background-color: #212124;
}
.modal-body {
    position: relative;
    padding: 15px;
    background-color: #212124;
}

.modal-footer {
    padding: 15px;
    text-align: right;
    border-top: 1px solid #212124;
    background-color:#161618
}
.close {
    float: right;
    font-size: 21px;
    font-weight: 700;
    line-height: 1;
    color: #ffffff;
    text-shadow: 0 1px 0 #fff;
    filter: alpha(opacity=20);
    opacity: .2
}

.close:focus,.close:hover {
    color: #7b7b7b;
    text-decoration: none;
    cursor: pointer;
    filter: alpha(opacity=50);
    opacity: .5
}
.load-modal-dialog.gray-background {
    background-color: #161616
}

.load-modal-dialog .modal-header {
    border: none;
    background-color: #161616;
    position: sticky;
    top: 0;
    z-index: 2;
    padding: 15px 0 0
}
.load-modal-dialog.gray-background {
    background-color: #16161600;
}
.load-modal-dialog .modal-content {
    border-radius: 15px;
    height: 100%;
    overflow-y: auto;
    background-color: transparent
}
.load-modal-dialog .all-sandbox-button[disabled],.load-modal-dialog button.within-folder[disabled] {
    cursor: auto;
    text-decoration: none;
    font-weight: 600;
    opacity: 1;
    color: #ffffff;
    background-color: #161616;
}
.load-modal-dialog .files-header #load-modal-sort-by-dropdown-menu:focus {
    background-color: #161616
}

.load-modal-dialog .files-header #load-modal-sort-by-dropdown-menu:active,.load-modal-dialog .files-header #load-modal-sort-by-dropdown-menu:active:focus {
    background-color: #161616;
    border-radius: 0
}

.load-modal-dialog .files-searchbox {
    background-color: #161616;
    padding: .5em 20px;
    display: flex;
    align-items: center;
    width: 100%
}
.load-modal-dialog .within-folder.btn.btn-default {
    color: #c6c6c6;
    font-weight: 600;
    text-decoration-line: none
}
.load-modal-dialog tr:hover {
    cursor: pointer;
    background-color: #323232;
}

.load-modal-dialog tr {
    border-bottom: 1px solid #323232;
}
.load-modal-dialog .files-header {
    display: flex;
    border-top: 2px solid #161616;
    border-bottom: 2px solid #161616;
    justify-content: space-between;
    align-items: center;
    background-color: #161616;
    z-index: 3;
    margin-top: 15px
}
.load-modal-dialog .btn-default {
    color: #b6b6b6;
    background-color: #161616;
    border: none;
    text-decoration: underline;
    padding: 0
}
.load-modal-dialog .files-searchbox input {
    border: none;
    width: 100%;
    height: 100%;
    background-color: #212124;
    border-radius: 20px;
}
.load-modal-dialog .folder-icon:hover {
    background-color: #252529;
}
.ace_scrollbar-h {
    overflow-x: scroll;
    overflow-y: hidden;
    scrollbar-color: #9f9f9f #212124;
    left: 0;
}
.ace_scrollbar-v{
    overflow-x: hidden;
    overflow-y: scroll;
    top: 0;
    scrollbar-color:#9f9f9f #212124
}
.load-modal-dialog .modal-content .modal-content-wrapper {
    overflow-y: auto;
    scrollbar-color: #9f9f9f #212124;
  	background-color: #212124;
}
.console-container {
    flex: 1 1;
    display: flex;
    flex-flow: column;
    height: 100%;
    scrollbar-color: #9f9f9f #212124;
}
.console-output .clear-console-container {
    position: absolute;
    right: 12px;
    top: 8px;
    background-color: #00000000;
    cursor: pointer
}
input:focus {
    outline: none;
    border-color: #666;
}
.react-autosuggest__suggestions-container--open {
    display: block;
    position: absolute;
    width: calc(100% + 40px);
    top: 40px;
    border: 1px solid #212124;
    background-color: #212124;
    z-index: 2;
    left: -20px
}
.exercise-search-box .react-autosuggest__container .suggestion {
    display: flex;
    flex-flow: row;
    align-items: center;
    justify-content: space-between;
    padding-top: 8px;
    padding-bottom: 8px;
    font-size: .9em;
    font-weight: 600;
    color: #ffffff
}

.exercise-search-box .react-autosuggest__container .suggestion .notes-icon {
    display: inline-block;
    margin-right: 0;
    width: 30px;
    height: 30px;
    background-image: url(/static/media/progress_notes.9fc258e0.svg);
    background-repeat: no-repeat;
    background-position: 50% 50%;
    filter:brightness(10)
}
.react-autosuggest__suggestion--highlighted {
    background-color: #323232
}
.load-modal-dialog {
    width: 600px;
    max-width: 100vw;
    height: 80%;
    background-color: #ffffff00;
}
.load-modal-dialog .modal-header .removal-warning {
    margin-top: 10px;
    font-size: 1rem;
    padding: 5px;
    background-color: #d10f0f;
    border: 1px solid #7f4b4b;
    border-radius: 34px;
}
.kebab ul {
    list-style-type: none;
    background-color: #161616;
    border-radius:80px;
    color: #fff;
    padding: 10px 15px;
    position: absolute;
    display: none;
    font-weight: 600
}
.kebab img {
    padding: 10px 15px;
    position: absolute;
    left: 0;
    bottom: -20px;
    filter: brightness(10);
}
.save-modal-dialog .form-control {
    border-radius: 80px;
    font-size: 1rem
}
.form-control:focus {
    border: 2px solid #b8b8b8;
    box-shadow: none
}
.notes-container div.notes-link:focus, .notes-container div.notes-link:hover {
    color: #ffffff;
    text-decoration: none;
    outline: none;
    background-color: #333333;
    border-radius: 34px;
}
 .versions-modal .editor-col {
    flex: 1 1 650px;
    padding: 5px 12px;
    position: relative;
    background-color: #ffffff00;
    align-items: flex-end
}
.versions-modal .list-group-item.weekday {
    border-top: 2px solid #f1f1f100;
    border-bottom: 3px solid #f1f1f100;
    background-color: rgb(32, 33, 36);
}
a.list-group-item:focus,a.list-group-item:hover,button.list-group-item:focus,button.list-group-item:hover {
    color: #ffffff;
    text-decoration: none;
    background-color: #323232;
}
.versions-modal .version {
    font-size: 14px;
    margin: 0;
    background-color: #212124;
}
.versions-modal .version-modal-body {
    height: 100%;
    padding: 0;
    background-color: #21212400;
}
.versions-modal .list-group-item.history-end {
    border-top: 1px solid #666;
    justify-content: center;
    background-color: #323232;
}
a.list-group-item,button.list-group-item {
    color: #ffffff;
}
.versions-modal .scroll-col {
    flex: 1 1 300px;
    border-right: 2px solid #212124;
}
.versions-modal h3 {
    color: #ededed;
}
.versions-modal .modal-content {
    border-radius: 34px;
    height: 100%;
    background-color: #212124;
}
.versions-modal .versions-list {
    overflow-y: auto;
    margin: 0;
    scrollbar-color: #9f9f9f #212124;
}
.versions-modal .list-group-item.active {
    background-color: #f9f9f9;
    color: #ffffff;
    outline: none;
    border: none;
    box-shadow: inset 4px 0 0 #5e99ff
}

.exercise-translation-root [class$=diff-container],.note-translation-root [class$=diff-container],.versions-modal [class$=diff-container] {
    border: 2px solid #212124;
    background-color: #1d1e20;
}
.exercise-translation-root [class$=diff-container] pre,.note-translation-root [class$=diff-container] pre,.versions-modal [class$=diff-container] pre {
    padding: 0;
    margin: 0;
    color: #ffffff;
    background-color: unset;
    border: none;
    border-radius: 0
}
.exercise-translation-root [class$=diff-container] [class$=gutter],.exercise-translation-root [class$=diff-container] [class*=gutter][class$=diff-added],.exercise-translation-root [class$=diff-container] [class*=gutter][class$=diff-removed],.note-translation-root [class$=diff-container] [class$=gutter],.note-translation-root [class$=diff-container] [class*=gutter][class$=diff-added],.note-translation-root [class$=diff-container] [class*=gutter][class$=diff-removed],.versions-modal [class$=diff-container] [class$=gutter],.versions-modal [class$=diff-container] [class*=gutter][class$=diff-added],.versions-modal [class$=diff-container] [class*=gutter][class$=diff-removed] {
    flex: 0 0;
    border-right: 0.1px solid rgb(195 195 195 / 19%);
    order: 0
}
.exercise-translation-root [class$=diff-container] [class*=gutter], .note-translation-root [class$=diff-container] [class*=gutter], .versions-modal [class$=diff-container] [class*=gutter] {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #1d1e1f;
}
.versions-modal .editor-col .diff-viewer-wrapper {
    width: 100%;
    overflow-y: auto;
    border-radius: 25px;
    scrollbar-color: #9f9f9f #212124;
}
.exercise-translation-root [class$=diff-container] [class$=diff-removed],.note-translation-root [class$=diff-container] [class$=diff-removed],.versions-modal [class$=diff-container] [class$=diff-removed] {
    background: #973e3e45
}

.exercise-translation-root [class$=diff-container] [class$=diff-added],.note-translation-root [class$=diff-container] [class$=diff-added],.versions-modal [class$=diff-container] [class$=diff-added] {
    background:  #25986145;
}
.versions-modal .list-group-item.active {
    background-color: #259861451;
    color: #ffffff;
    outline: none;
    border: none;
    box-shadow: inset 4px 0 0 #5e99ff;
}
.versions-modal .list-group-item.diff-newer {
    background-color: #25986145;
}

.versions-modal .list-group-item.diff-newer:hover {
    background-color: #259861;
}

.versions-modal .list-group-item.diff-older {
    background-color: #973e3e73;
}

.versions-modal .list-group-item.diff-older:hover {
    background-color: #973e3e;
}
.modal-content {
    position: relative;
    background-color: #212124;
    background-clip: padding-box;
    background-clip: padding-box;
    border: 1px solid #999;
    border: 1px solid rgba(0,0,0,.2);
    border-radius: 34px;
    outline: 0;
    box-shadow: 0 3px 9px rgba(0,0,0,.5)
}
.solo-right-pane {
    width: 465px;
    border-top: 2px solid #212124;
    margin-top: 5px
}
.info-page-container .info-page-content-container .course-illustration {
    width: 339px;
    height: auto;
    float: right;
    filter: brightness(0.9);
}
.info-page-container .info-page-content-container h6 {
    font-size: 1.2em;
    color: #ffffff
}

.info-page-container .info-page-content-container p {
    margin: 2.3em 0;
    color: white;
}
b,strong {
    font-weight: 700;
    color: #ffffff;
}
.dashed-button>div {
    color: #4389e4;
    border: 2px dashed #4389e4;
    padding: 11px 12px;
    text-align: center;
    position: relative;
    display: inline-block;
    background: transparent;
    font-weight: 600;
    height: 42px;
    cursor: pointer
}
.info-page-container .info-page-content-container .profile-card {
    width: 306px;
    height: 580px;
    border-radius: 0;
    border: 1px solid #323232;
    border-top: 8px solid #4389e4;
    margin: auto;
    background-color: #212124;
    display: flex;
    flex-direction: column;
    border-radius: 20px
}
.info-page-container .info-page-content-container .profile-card .description {
    flex: 1 1 100px;
    overflow-y: auto;
    color: #ffffff;
    font-size: .9em;
    line-height: 150%
}
.info-page-container .info-page-content-container .profile-card img,.info-page-container .info-page-content-container .profile-card video {
    width: 250px;
    margin: 1.7em 1.7em 0;
    filter: brightness(1);
}
.info-page-container .info-page-content-container .profile-card .description {
    flex: 1 1 100px;
    overflow-y: auto;
    color: #ffffff;
    font-size: .9em;
    line-height: 150%;
    scrollbar-color: #9f9f9f #212124;
}
.info-page-container .info-page-content-container .profile-card .content-contributor-selector,.info-page-container .info-page-content-container .profile-card .staff-year-selector {
    padding: .6em .9em;
    background-color: #323232;
    color: #ffffff;
    border: 2px solid #363636;
    border-radius: 10px;
}
.info-page-container .info-page-content-container .profile-card .content-contributor-selector option,.info-page-container .info-page-content-container .profile-card .staff-year-selector option {
    background-color: #323232;
    padding: .6em .9em;
    border: 2px solid #363636;
    color: #ffffff;
}
.canvas-error-message {
    position: absolute;
    width: 100%;
    height: 100%;
    padding: 30px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 600;
    font-size: 1.2em;
    background-color: #161616;
    box-shadow: inset 0 0 20px 5px rgba(0, 0, 0, .1);
}
.account-modal.modal-dialog .modal-body .oauth-login-page {
    background: #212124;
    margin: auto;
    padding: 0;
    max-width: 600px
}
.account-modal.modal-dialog .or-separator,.register-page-container .or-separator {
    position: relative;
    color: #ffffff
}

.account-modal.modal-dialog .or-separator .or,.register-page-container .or-separator .or {
    background: #212124;
}
.account-modal.modal-dialog .or-separator hr,.register-page-container .or-separator hr {
    border-top: 1px dotted #ffffff;
}
.account-modal.modal-dialog .modal-header {
    pointer-events: auto;
    font-size: 1.5em;
    font-weight: 600;
    color: #ffffff;
    border-bottom: 1px solid #7e7e80;
}
.account-modal.modal-dialog .modal-body .oauth-login .clever-login button,.account-modal.modal-dialog .modal-body .oauth-login .clever-login img {
    width: 320px;
    height: 50px;
    border-radius: 50px;
}
.account-modal.modal-dialog .modal-body .lms-login-button {
    justify-content: center;
    position: relative;
    width: 320px;
    height: 45px;
    margin-top: 20px;
    border-radius: 3px;
    color: #d1d1d1;
    border-bottom: 2px solid;
    border-radius: 20px;
    margin-bottom: 60px;
    font-weight: 700
}
.account-modal.modal-dialog .modal-body p {
    font-size: .9em;
    color: #ffffff;
}
.account-modal.modal-dialog .modal-body .form-control {
    border: 2px solid #363636;
}
.account-modal.modal-dialog .modal-body input {
    border-radius: 20px;
}
.account-modal.modal-dialog .modal-body p>button {
    padding: 4px;
    margin: 0;
    color: #efefef;
    font-weight: 600;
    text-decoration: none;
    position: relative;
    float: none;
    background-color: #212124;
    border: none
}
.modal-body {
    position: relative;
    padding: 15px;
    background-color: #21212400;
}
.modal-header {
    padding: 15px;
    background-color: #21212400;
}
.account-modal.modal-dialog .modal-header .mobile-header-text img {
    margin-right: 1em;
    width: 36px;
    height: 36px;
    filter: brightness(9);
}
.form-control,output {
    display: block;
    font-size: 14px;
    line-height: 1.42857143;
    color: #d1d1d1;
}
.close:focus, .close:hover {
    color: #ffffff;
}
.navbar .try-it-out {
    color: #ffffff;
}
.cs-academy-dropdown {
    color: #ffffff;
    width: fit-content
}
.cs-academy-dropdown .dropdown-menu {
    position: absolute !important;
    padding: 0 !important;
    border: 2px solid #161618 !important;
    border-radius: 20px !important;
    background-color: #212124 !important;
}
.dropdown-menu>li>a:focus, .dropdown-menu>li>a:hover {
    color: #7b7b7b;
    text-decoration: none;
    background-color: #252527;
    border-radius: 30px;
}
.cs-academy-dropdown:after {
    transition-duration: .3s;
    content: "";
    height: .6em;
    width: 1em;
    background-image: url(/static/media/caret.e665ba75.svg);
    background-position: 50% 50%;
    filter: brightness(10);
    background-repeat: no-repeat;
    position: absolute;
    right: 2em;
    top: .5em
}
.navbar-brand img {
    width: 20px;
    height: 20px;
    filter: brightness(10);
}
.dashed-button>div:after {
    position: absolute;
    width: 100%;
    height: 100%;
    padding: 3px;
    right: -5px;
    bottom: -6px;
    background-color: #323232;
    border-radius: 30px;
    z-index: -1;
    content: ""
}
.dashed-button>div {
    color: #f9f9f9;
    border: 2px dashed #e0e3e7;
    border-radius: 30px;
    padding: 11px 12px;
    text-align: center;
    position: relative;
    display: inline-block;
    background: transparent;
    font-weight: 600;
    height: 42px;
    cursor: pointer;
}
.dashed-button>div:hover:after,.dashed-button>div:hover:focus:after {
    width: 100%;
    height: 100%;
    right: -5px;
    bottom: -6px;
    background-color: #666;
}
.splash-page {
    background-color: #161616;
    position: relative;
    z-index: 0;
    padding: 0 100px
}
.splash-page h1 {
    color: #ffffff;
    margin-top: 10px;
    line-height: 125%;
    font-size: 46px;
    width: 500px
}
.splash-page #ladder-image:not(.with-flag) {
    width: 400px;
    filter: brightness(0.9);
}
.splash-page p {
    color: #ededed;
    line-height: 150%
}
.splash-page #splash-page-opener .left .intro-text .logo {
    width: 350px;
    max-width: 80vw;
    filter: brightness(10);
}
.splash-page #splash-page-opener h1 span:after {
    position: absolute;
    content: "";
    background-color: #333;
    width: 106%;
    height: 50%;
    z-index: -1;
    right: -3px;
    top: 35px
}
.splash-page h2 {
    color: #ffffff;
    margin-bottom: 75px;
    line-height: 125%;
    font-size: 36px
}
#curricula-section .header span:after,#student-work .header span:after {
    position: absolute;
    content: "";
    background-color: #333;
    width: 96%;
    height: 75%;
    z-index: -1;
    right: 14px;
    top: 20px
}
.splash-page .splash-grid-section .splash-grid-text p strong {
    color: #ffffff;
    font-size: 18px
}
.splash-page .splash-grid-section .splash-grid-text p span:after {
    position: absolute;
    top: 10px;
    content: "";
    background-color: #333;
    height: 75%;
    z-index: -1;
    right: -24px;
    width: 85%
}
.splash-page .stats-section h2 {
    color: #58f5aa;
    margin-bottom: 10px
}
.user-info-mobile .react-autosuggest__input {
    background-color: #323232;
    font-size: max(16px,1em)
}
.fade-1 {
    opacity: .2;
    border-radius: 34px;
}

.fade-2 {
    opacity: .25;
    border-radius: 34px;
}

.fade-3 {
    opacity: .3;
    border-radius: 34px;
}

.fade-4 {
    opacity: .35;
    border-radius: 34px;
}

.fade-5 {
    opacity: .4;
    border-radius: 34px;
    
}

.fade-6 {
    opacity: .45;
    border-radius: 34px;
}

.fade-7 {
    opacity: .5;
    border-radius: 34px;
}

.fade-8 {
    opacity: .55;
    border-radius: 34px;
}

.fade-9 {
    opacity: .6;
    border-radius: 34px;
}
